#gambar{
    background-image: url(DSC09541.JPG);
    background-repeat: no-repeat;
    min-width:1349px;
    min-height:500px;
    
    
    
}
#padding{
    padding:0px;
    border: 0px;
    margin: 0px;
    
}
#gambar1{
    width:200px;
    height:auto px;
    
    
}

.animate{
    transition: 1s;
}
.animate:hover{
    transform: rotate(360deg);
       border-radius: 500px;
}
#bg{
    background-color: #B2BABB;
}
.footer {
    min-height: 10px;
    background-color: black;
    color: white;
    padding: 20px;
}
#ig{
    width:25px;
    height: auto;
}
#fb{
   
    width:25px;
    height: auto;
}
#twt{
    width:25px;
    height: auto;
}